/Fuente/UniformesBanco/UniformesBanco/UniformesService/target/
/Fuente/UniformesBanco/UniformesBanco/UniformesController/target/
/Fuente/UniformesBanco/UniformesBanco/ClienteWsUniformesTienda/target/
/Fuente/UniformesBanco/UniformesBanco/ClienteWsAbasto/target/
/Fuente/UniformesBanco/UniformesBanco/ClienteWsCancelaAbasto/target/
/Fuente/UniformesBanco/UniformesBanco/ClienteWsItalika/target/